%h1 Listing products
- @products.in_groups_of(3).each do |products|
  - products.select! {|x| !x.nil?}
  .row
    - products.each do |product|
      .col-md-4
        .thumbnail
          = image_tag product.thumburl
          .caption
            %span.listing-title= product.name
            %span.listing-desc= product.description
            %div
              %span= link_to 'Show', product, class: "btn btn-success"
              %span= link_to "Edit", edit_product_path(product.id), class: "btn btn-primary"
              %span= link_to 'Delete', product, {data: {confirm: "Are you sure?"},method: :delete, class: "btn btn-danger"}
%br
= link_to 'New Product', new_product_path
%h1 ANGULAR TEST
%div{'ng-controller' => 'ProductController'}
  {{hi}}
  %div{"ng-repeat" => "product in products"}
    .col-md-4
      %button DELETE call
      .thumbnail
        %img{src: "{{product.thumburl}}"}
        .caption
          %span.listing-title {{product.name}}
          %span.listing-desc {{product.description}}
          %div
            %span= link_to 'Show',  class: "btn btn-success"
            %button.btn.btn-primary{'ng-click' => "editCall(product)"} Edit
            %button.btn.btn-danger{'ng-click' => "deleteCall(product)"} Delete

  %form{:name => 'productForm', 'ng-submit' => 'submitForm()'}
    .col-md-12
      %h3 Product  preview
      .thumbnail
        %img{'ng-src' => "{{newProduct.thumburl}}"}
        .caption
          %span.listing-title {{newProduct.name}}
          %span.listing-desc {{newProduct.description}}
    .col-md-12   
      %fieldset.form-group
        %label Product name
        %input.form-control{'ng-model' => 'newProduct.name'}
      %fieldset.form-group
        %label Product description
        %textarea.form-control{'ng-model' => 'newProduct.description'}
      %fieldset.form-group
        %label Product image (link))
        %input.form-control{'ng-model' => 'newProduct.thumburl', type: 'url'}
      %fieldset.form-group
        %input.btn.btn-primary.pull-right{:type => "submit", :value => "Submit product"}
